language: node_js
node_js:
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"
  - "0.12.7"
install:
  - npm install

script:
  - npm test

after_success:
- npm run coverage

cache:
  directories:
    - node_modules