[req]
distinguished_name = create_certificate
req_extensions = v3_req

[create_certificate]
countryName = Country Name (2 letter code)
countryName_default = CN
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = BeiJing
localityName = Locality Name (eg, city)
localityName_default = HaiDian
organizationName = Organizational Unit Name (eg, section)
organizationName_default = HiiPack
commonName = Common Name (Full hostname, *important*)
commonName_max = 64
emailAddress = Email Address

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]