[req]
distinguished_name = create_certificate

[create_certificate]
countryName = Country Name (2 letter code)
countryName_default = CN
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = BeiJing
localityName = Locality Name (eg, city)
localityName_default = HaiDian
organizationName = Organizational Unit Name (eg, section)
organizationName_default = HiiPack
commonName = Common Name (Your CA Name)
commonName_default = Your_CA_Name
commonName_max = 64
emailAddress = Email Address